.lak {
    color: pink;
    text-align: center;
    font-family: fantasy;
}
.krak {
    color: palevioletred;
    text-align: center;
    background-color: aliceblue;
    font-family: fantasy;
}

body {
    background-color: #FF69B4;
}
.Zikoosh {
    text-align: center;
}