.lak {
    color: pink;
    text-align: center;
    font-family: fantasy;
}
.krak {
    color: palevioletred;
    text-align: center;
    background-color: aliceblue;
    font-family: fantasy;
}

body {
    background-color: #FF69B4;
    text-align: center;
}
.Zikoosh {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
